{{!< main}}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Remover Stock - {{ product.name }}</h5>
    </div>
    <div class="card-body">
        <form action="/products/{{ product._id }}/remove-stock" method="POST">
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad a Remover</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>
            <button type="submit" class="btn btn-primary">Remover Stock</button>
        </form>
    </div>
</div>
